section {
    padding: 60px 0;
}

.banner {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.35)), url(../Resources/banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner-content {
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}